includes:
	- tests/phpstan/configs/tests-baseline.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	level: 9
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	scanDirectories:
		- src
		- tests/phpunit
	scanFiles:
		- .github/workflows/update-html-links.php
	paths:
		- src
		- tests/phpunit
	excludePaths:
		analyseAndScan:
			- build/php
	dynamicConstantNames:
		- \NxtLvlSoftware\StaticConstructors\DISABLE_STATIC_HOOK
