<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticProperties="false"
	bootstrap="vendor/autoload.php"
	cacheDirectory=".phpunit/.cache"
	colors="true"
	processIsolation="true"
	stopOnFailure="false"
>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<testsuites>
		<testsuite name="static-constructors">
			<directory>tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
